.copyright {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	color: $gray;
	&__date {
		font-size: 1.125rem;
		margin-bottom: 2rem;
	}
	&__text {
		font-size: 0.8125rem;
		font-weight: 300;
		line-height: 1.5;
	}
}