.footer {
	background-color: $dark;
	padding: 3rem 0;
	&__container {
		display: flex;
		justify-content: space-around;
	}
	&__title {
		font-size: 1.625rem;
		color: $gray;
		margin-bottom: 1rem;
	}
}