.questions {
	width: 100%;
	margin: 1rem;
	border-radius: 0.375rem;
	&__content {
		display: flex;
		border-bottom: 0 none;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	}
	&__icon {
		display: flex;
		align-items: center;
		color: $accent;
		font-size: 3.75rem;
		margin-right: 1rem;
		background-color: $white;
		padding: 1rem 2rem;
		&::before {
			content: '';
			font-family: 'FA';
		}
	}
	&__text {
		padding: 1rem;
		font-size: 1.125rem;
	}
	&__title {
		font-family: $title;
		font-size: 2.625rem;
		color: $dark;
		margin-bottom: .625rem;
	}
}