.socials {
	&__list {
		display: flex;
		align-items: center;
	}
	&__item	{
		width: 2.625rem;
		height: 2.625rem;
		background-color: $accent;
		border-radius: 50%;
		margin-right: .625rem;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-family: 'FA-b';
		font-size: 1.5625‬rem;
		color: $white;
	}
}