.topline {
	background-color: $dark;
	&__container {
		display: flex;
		justify-content: flex-end;
	}
	&__list {
		display: flex;
		padding: 1rem 0;
	}
	&__item {
		display: flex;
		margin-right: 1rem;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		color: $white;
		font-size: 0.8125rem;
		font-weight: 300;
		&::before {
			content: '';
			font-family: 'FA';
			margin-right: 0.625rem;
		}
		&_city {
			&::before {
				content: '';
			}
		}
		&_address {
			&::before {
				content: '';
			}
		}
		&_user {
			&::before {
				content: '';
			}
		}
	}
}