.work {
	&__list	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__item {
		display: flex;
		align-items: flex-end;
		flex: 1 0 50%;
		margin-bottom: 6rem;
		position: relative;
		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
		&::before {
			content: '';
			font-family: $title;
			color: $dark;
			font-size: 15rem;
			position: absolute;
			left: -3rem;
			bottom: -4rem;
			opacity: .08;
			z-index: -10;
		}
		&:nth-child(1)::before {
			content: '1';
		}
		&:nth-child(2)::before {
			content: '3';
		}
		&:nth-child(3)::before {
			content: '2';
		}
		&:nth-child(4)::before {
			content: '4';
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'FA';
		color: $white;
		font-size: 2rem;
		min-width: 5rem;
		min-height: 5rem;
		background-color: $accent;
		border-radius: 50%;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-self: baseline;
		padding: 0 2rem;
	}
	&__title {
		font-family: $title;
		font-size: 1.75rem;
		color: $dark;
	}
	&__subtitle {
		font-size: .875rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	&__content-list {
		font-size: .875rem;
		font-weight: 300;
	}
	&__content-item {
		display: flex;
		align-items: flex-start;
		margin-bottom: .625rem;
		&::before {
			content: '';
			font-family: 'FA';
			font-size: 1rem;
			color: $accent;
			margin-right: 0.3125rem;
		}
	}
}