// Colors

$gray:				#ededed;
$white:				#ffffff;
$dark:				#414141;
$accent:			#711f1f;
$blue:				#0e2355;

// Fonts

$text: 			'Ubuntu', Helvetica, Arial, sans-serif;
$title:			'BebasNeue', Helvetica, Arial, sans-serif;

// Speed

$fast: .15s ease;
$slow: .3s ease;

// Breakpoints

$tablets: 768px;
$phones: 	480px;