// Colors

$gray:				#1f2122;
$white:				#ffffff;
$dark:				#414141;

// Fonts

$text: 			'Ubuntu', Helvetica, Arial, sans-serif;
$title:			'BebasNeue', Helvetica, Arial, sans-serif;

// Speed

$fast: .15s ease;
$slow: .3s ease;

// Breakpoints

$tablets: 768px;
$phones: 	480px;